@model TipoCuenta

@{
    ViewData["Tittle"] = "Crear Tipo Cuenta";
}

<h1>Crear un tipo de cuenta</h1>
<p>Un tipo de cuenta se refiere a cómo podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.
</p>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Crear">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" asp-for="nombre" class="form-control"/>
        <span asp-validation-for=""></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>